.bg-header{
    background: linear-gradient(to right,#fead3c,#fb8f19)
}
.header-app{
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    z-index: 1;
}
.border-giaohang{
    background-color: #ef8b1d;
    border-radius: 50px;
    padding: 4px 8px;
    
    max-height: 52px;
   
}
.img-addres{
    width: 38px;
    height: 38px;
}
.logo-width{
    width: 170px;
}
.header-active{
    border-bottom: 2px solid white;
}
.page-header{
    line-height: 36px;
    border-bottom: 2px solid transparent;
}
.page-header:hover{
    border-bottom: 2px solid white;
}
.btn-cart{
    position: relative;
}
.quantities-cart{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    right: -4px;
    top: -4px;

}
.text-address{
    text-overflow: ellipsis;
    overflow: hidden; 
    
     
    white-space: nowrap;
}