.pd-header{
    padding-top: 80px;
}
.text-disable{
    color: #b5b9bf;
}
.bg-slider{
    padding:20px 0px;
    background-color: #fb8d17;
}
.posittion-slider{
    position: relative;
    bottom: -40px;
}
.section-Chapter{
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-cateogry{
    width: 86px;
    height: 86px;
    
    padding: 12px;
    display: flex;
    background-color: #f2f2f2;
    img{
        margin: auto;
    }
}
.category-active{
    background-color: #fa8c16 !important;
  
}
.text-coffe{
    max-width: 100%;
    overflow: hidden    ;
}
.text-coffe-active{
    color: #fa8c16 !important;
}
.border-product{
    padding: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.border-news{
    padding: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.img-product{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.name-product{
    line-height: 28px;
    font-size: 1.0rem;
    margin-bottom: 8px;
    margin-top: 8px;
}
.btn-add-cart{
    line-height: 32px;
}
.img-News{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.bg-near-footer-home{
    height: 582px;
    width: 100%;
    
    background: linear-gradient(to right, #e98313,#8c5001);

}
.item-category{
    width: 12%;
 
}
.list-category{
    gap:20px;
}