<div class="bg-header header-app ">
    <div class="text-white align-items-center container-fluid">
        <div class="d-flex align-items-center header-height justify-content-between  pd-w-100 ">
            

            <div class="d-flex gap-5  align-items-center">
                <a href="" class="d-flex logo-width">
                <img class="w-100 m-auto" src="https://www.thecoffeehouse.com/_nuxt/img/logo.174bdfd.svg" alt="">
             </a>
             <div class="border-giaohang d-flex gap-2 align-items-center">
                 <div class="img-addres">
                     <img class="w-100 h-100" src="https://minio.thecoffeehouse.com/images/tch-web-order/Delivery2.png" alt="">
                 </div>
                 <div class="d-flex align-items-center gap-2">
                     <div class="">
                     <span class="fw-bold">
                         Giao hàng
                     </span>
                     <div class="fs-min-plus text-address">
                         Tại :145 điện biên phủ 
                     </div>
                     
                    </div>
                    <div>
                        <i class="fas fa-angle-down"></i>
                    </div>
                 </div>
                 
             </div>
             <div class="d-flex gap-3 fw-bold navivation-header fs-min-plus">
                 <a href="" class="a-none text-white page-header">
                     Đặt hàng
                 </a>
                 <a href="" class="a-none text-white  page-header">
                    Tin tức
                 </a>
                 <a href="" class="a-none text-white page-header">
                     Cửa hàng
                 </a>
                 <a href="" class="a-none text-white page-header">
                     Khuyến mãi
                 </a>
                 <a href="" class="a-none text-white page-header">
                     Tuyển dụng
                 </a>
             </div>
             
              
            </div>
              
            <div class=" ">
                <div class="btn-40 bg-white d-flex rounded-circle btn-cart">
                    <i class="fas fa-shopping-bag color-primary m-auto fs-4"></i>
                      <div class="quantities-cart rounded-circle fs-min-mini d-flex">
                        <div class="m-auto">
                            12
                        </div>
                    </div>
                </div>
              
             </div>
           
     
        </div>
       
    </div>
</div>

<!--
    <div class=" flex-fill flex-row-reverse header-height">
                <div class="btn-40 bg-white d-flex rounded-circle btn-cart">
                    <i class="fas fa-shopping-bag color-primary m-auto fs-4"></i>
                      <div class="quantities-cart rounded-circle fs-min-mini d-flex">
                        <div class="m-auto">
                            12
                        </div>
                    </div>
                </div>
              
             </div>
-->